/*DESKTOP STUFF*/
@media only screen and (min-width: 600px){

/*FULL PAGE SETUP*/
    
footer, header, hgroup, nav, section {
  display: block; 
}

body {
    /*display: flex;
    flex-direction: column;
    background-color: white;
    background-color: #89C9C6;*/
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: #89C9C6;
    /*overflow: auto;*/
}

.page {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.pagepic {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
    
   
    
    

/*HEADER PAGE*/
    
#header {
    /*width: 100%;
    height: 10%;*/
    margin: 0;
    align-items: center;
    /*background-image: url(../images/flowerhome.png);*/
    background-color: #89C9C6;
    background-size: cover;
    /*background-position: bottom;*/
    z-index: 8;
    padding: 0px;
    height: 90px;
    /*display: flex;
    justify-content: center;*/
}

.headpics {
    padding: 0px;
    margin: 0px;
    margin-top: 45px;
    flex-direction: column;
    align-items: center;  
    align-content: center;
    justify-content: center;
}

.headpic {
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*height: 100%;*/
}

nav {
    list-style: none;
    padding: 0px;
    background-color: #80C7C4;
    display: flex;
    flex-flow: column wrap;
    /*font-weight: 900;*/
    /*justify-content: space-around;
    align-items: center;*/
    color: #28403F;
    font-family: 'Rubik', sans-serif;
    margin-top: 0px;
    position: fixed;
    margin-bottom: 0px;
    z-index: 1;
    /*height: %;*/
    width: 100%;
    align-content: center;
}

#header a:hover {
    color: darkcyan;
    text-decoration-line: none;
}

#logo li a {
    font-size: 29px;
    /*font-family: 'Vidaloka', serif;
    /*align-self: flex-start;
    flex: row wrap;*/
    font-family: 'Candal', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 20px;
    margin-top: 15px;
    text-align: left;
    width: 100%;
    padding-bottom: 0;
    color: azure;
    text-decoration: none;
    text-decoration-line: none;
    min-width: 480px;
    margin-right: 10px;
    /*display: block;*/
}

#links {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 0px;
    margin: 20px 5px 20px 5px;
    padding: 0px;
    width: 100%;
}

#links li a {
    float: clear; 
    /*align-content: center;*/
    color: #28403F;
    margin: 0px;
    text-decoration: none;
    text-decoration-line: none;
    /*align-self: center;*/
    padding: 0px;
}

.headtext {
    padding: 0;
    margin: 0;
}

.headtext h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 75px;
    margin-top: 100px;
}

.icons i {
    margin: 15px;
}

.icons #dark {
    color: #28403F;
}

.headtext h2 {
    padding-top: 0px;
    padding-bottom: 150px;
    line-height: 1.2em;
    margin: 0 0 0px 0;
    font-family: 'Candal', sans-serif;
}

.headtext h4 {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}
    
h4 {
    color: white;
    background-color: #28403F;
    border-radius: 15px;
    padding: 15px;
    margin: 0px auto 70px auto;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}    
    
h1 {
    /*color: white;*/
    color: #28403F;
    color: azure;
    text-align: center;
    padding: 15%;
    margin: auto auto;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    /*background-color: #89C9C6;*/
}




    

/*CHALLENGE/MAIN*/

#challenge {
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*align-self: stretch;*/
    align-items: center;
    align-content: center;
    padding: 35px 45px 35px 45px;
    color: black;
    line-height: 1.5em;
    background-color: azure;
    background-color: darkcyan;
}

main h2 {
    text-align: center;
    /*font-family: 'Rubik', sans-serif;*/
    font-family: 'Candal', sans-serif;
    /*color: #28403F;*/
    color: azure;
    margin-top: 60px;
    padding: 5px;
    line-height: 1em;
    font-size: 90px; 
}

main h3 {
    font-size: 60px;
    line-height: 1.1em;
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
    /*font-family: 'Vidaloka', serif;*/
}

main a {
    text-decoration: none;
    text-decoration-line: none;
}

h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #5E767F;
    color: #28403F;
    /*color: #1F2459;*/
    padding: 35px;
    margin-top: 0px;
    line-height: 1em;
    font-size: 45px;  
}

.big {
    font-size: 100px;
    line-height: 1.5em;
}

main h4 {
    color: white;
    background-color: #28403F;
    border-radius: 18px;
    padding: 15px;
    padding-bottom: 20px;
    margin-top: 35px; 
    margin-bottom: 70px;
    font-size: 30px;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Vidaloka', serif;*/
    font-family: 'Candal', sans-serif;
    text-align: center;
}

 main p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 20px;
    margin: 0px auto 0px auto;
    font-size: 30px;
    line-height: 1.2em;
}

.dblue {
    color: #1F2459;
    color: azure;
    font-weight: 400;
    /*font-style: heavy;*/
    font-family: 'Rubik', sans-serif;
    /*font-family: 'Vidaloka', serif;*/
    font-size: 25px;
}

h3 {
    color: #80C7C4;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
    padding-bottom: 0px;
    font-size: 35px;
    width: 100%;
}



    
    

/*PARTICIPATE*/

#participate {
    padding: 0px;
    margin: 0;
    background-color: #89C9C6;
    padding-bottom: 50px;
}

#participate h2 {
    text-align: center;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Vidaloka', serif;*/
    font-family: 'Candal', sans-serif;
    /*color: #28403F;*/
    /*color: azure;
    color: darkcyan;*/
    color: #28403F;
    /*color: #1F2459;*/
    padding: 35px;
    padding-top: 90px;
    line-height: 1.1em;
    font-size: 60px;
    margin-top: 0px;
}

/*#participate p {
    color: #28403F;
}*/

.resourceslink {
    padding-bottom: 60px;
    /*padding-left: 15%;*/
    align-content: center;
}

.resourceslink li {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    width: 80%;
    font-size: 30px;
    margin: 0px auto 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-left: 70px;*/
    color: azure;
    color: #28403F;
    /*color: #28403F;*/
    line-height: 1.2em;
}



    
    

/*PARTNERS*/

#partners {
    padding: 0px;
    margin: 0;
    margin-top: 0px;
    /*background-color: azure;*/
    /*background-color: darkcyan;*/
}

#partners .page {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 0px;
}

#partners h2 {
    font-size: 70px;
    line-height: 1.2em;
    padding-top: 10px;
    margin-top: 0;
    font-family: 'Candal', sans-serif;
    color: azure;
    background-color: darkcyan;
}

#partners .page li {
    margin: 50px 50px 50px 50px;
    align-content: center;
}







/*CONTACT*/

#contact {
    /*padding: 0px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #89C9C6;
    background-color: darkcyan;
    margin: 0px;
    margin-top: 0px;
}

#contact h2 {
    font-size: 60px;
    color: azure;
    margin-top: 0px;
    font-family: 'Candal', sans-serif;
}

.form {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Vidaloka', serif;
    list-style: none;
    font-size: 30px;
    /*flex-wrap: nowrap;*/
    align-content: center;
    color: #28403F;
}

.form li {
    padding: 10px;
    align-content: center;
    margin: 10px auto;
    float: center;
    text-align: center;
    color: #89C9C6;
    font-family: 'Rubik', sans-serif;
    
}

input {
    width: 300px;
    height: 30px;
    padding: 10px;
}

.last {
    height: 100px;
    margin-bottom: 70px;
}




/*FOOTER*/

footer {
    background-color: #89C9C6;
    min-height: 15px;
    padding: 5px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
}

footer p {
    font-family: 'Candal', sans-serif;
    color: azure;
}

}













/*MOBILE STUFF*/

@media only screen and (max-width: 600px) {

/*FULL PAGE SETUP*/
    
footer, header, hgroup, nav, section {
    display: block;
}

body {
    /*display: flex;
    flex-direction: column;
    background-color: white;
    background-color: #89C9C6;*/
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: #89C9C6;
    /*overflow: auto;*/
}

.page {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.pagepic {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
    
   
    
    

/*HEADER PAGE*/
    
#header {
    /*width: 100%;
    height: 10%;*/
    margin: 0;
    align-items: center;
    /*background-image: url(../images/flowerhome.png);*/
    background-color: #89C9C6;
    background-size: cover;
    /*background-position: bottom;*/
    z-index: 8;
    padding: 0px;
    height: 90px;*/
    /*display: flex;
    justify-content: center;*/
}

.headpics {
    padding: 0px;
    margin: 0px;
    margin-top: 60px;
    /*flex-direction: column;
    align-items: center;  
    align-content: center;
    justify-content: center;*/
}

.headpic {
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 70px;
    /*height: 100%;*/
}

nav {
    list-style: none;
    padding: 0px;
    background-color: #80C7C4;
    display: flex;
    flex-flow: column wrap;
    font-weight: 900;
    /*justify-content: space-around;
    align-items: center;*/
    color: #28403F;
    font-family: 'Rubik', sans-serif;
    margin-top: 0px;
    position: fixed;
    margin-bottom: 0px;
    z-index: 1;
    /*height: 35%;*/
    width: 100%;
    align-content: center;
}

#header a:hover {
    color: darkcyan;
    text-decoration-line: none;
}

#logo li a {
    font-size: 30px;
    /*font-family: 'Vidaloka', serif;
    /*align-self: flex-start;
    flex: row wrap;*/
    font-family: 'Candal', sans-serif;
    margin: 0px;
    text-align: center;
    padding: 0;
    color: azure;
    text-decoration: none;
    text-decoration-line: none;
    display: block
}

#links {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction:row;
    /*flex-wrap: nowrap;*/
    justify-content: space-around;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 0px;
    margin: 0px 15px 20px 15px;
}

#links li a {
    float: clear; 
    /*align-content: center;*/
    color: #28403F;
    margin: 0px;
    text-decoration: none;
    text-decoration-line: none;
    /*align-self: center;*/
    padding: 5px;
    font-size: 17px;
}

.headtext {
    padding: 0;
    margin: 0;
}

.headtext h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 65px;
    margin-top: 50px;
}

.icons i {
    margin: 25px;
    margin-top: 0px;
}

.icons #dark {
    color: #28403F;
}

.headtext h2 {
    padding-top: 0px;
    padding-bottom: 140px;
    line-height: 1.2em;
    margin: 0px;
    font-family: 'Candal', sans-serif;
}
    
.big {
    font-size: 80px;
    line-height: 1.2em;
    margin-bottom: 30px;
}    

.headtext h4 {
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}
    
h4 {
    color: white;
    background-color: #28403F;
    border-radius: 15px;
    padding: 15px;
    margin: 0px auto 0px auto;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}    
    
h1 {
    /*color: white;*/
    color: #28403F;
    color: azure;
    text-align: center;
    padding: 15%;
    margin-bottom: 0px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    /*background-color: #89C9C6;*/
}




    

/*CHALLENGE/MAIN*/

#challenge {
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*align-self: stretch;*/
    align-items: center;
    align-content: center;
    padding: 0px 45px 25px 45px;
    color: black;
    line-height: 1.5em;
    background-color: azure;
    background-color: darkcyan;
}

main h2 {
    text-align: center;
    /*font-family: 'Rubik', sans-serif;*/
    font-family: 'Candal', sans-serif;
    /*color: #28403F;*/
    color: azure;
    margin-top: 50px;ß
    padding: 5px;
    line-height: 1em;
    font-size: 40px; 
}

main h3 {
    font-size: 50px;
    line-height: 1.1em;
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
    /*font-family: 'Vidaloka', serif;*/
}

main a {
    text-decoration: none;
    text-decoration-line: none;
}

h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #5E767F;
    color: #28403F;
    /*color: #1F2459;*/
    padding: 35px;
    margin-top: 0px;
    line-height: 1em;
    font-size: 45px;  
}

main h4 {
    color: white;
    background-color: #28403F;
    border-radius: 18px;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 35px; 
    margin-bottom: 70px;
    font-size: 35px;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Vidaloka', serif;*/
    font-family: 'Candal', sans-serif;
    text-align: center;
}

 main p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 20px;
    margin: 0px auto 0px auto;
    font-size: 30px;
    line-height: 1.2em;
}

.dblue {
    color: #1F2459;
    color: azure;
    font-weight: 400;
    /*font-style: heavy;*/
    font-family: 'Rubik', sans-serif;
    /*font-family: 'Vidaloka', serif;*/
    font-size: 25px;
}

h3 {
    color: #80C7C4;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
    padding-bottom: 0px;
    font-size: 35px;
    width: 100%;
}



    
    

/*PARTICIPATE*/

#participate {
    padding: 0px;
    margin: 0;
    background-color: #89C9C6;
    padding-bottom: 50px;
}

#participate h2 {
    text-align: center;
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Vidaloka', serif;*/
    font-family: 'Candal', sans-serif;
    /*color: #28403F;*/
    /*color: azure;
    color: darkcyan;*/
    color: #28403F;
    /*color: #1F2459;*/
    padding: 0px;
    padding-top: 30px;
    line-height: 1.1em;
    font-size: 40px;
    margin-top: 0px;
}

/*#participate p {
    color: #28403F;
}*/

.resourceslink {
    padding-bottom: 0px;
    /*padding-left: 15%;*/
    align-content: center;
}

.resourceslink li {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    width: 80%;
    font-size: 30px;
    margin: 0px auto 0px auto;
    padding-top: 0px;
    padding-bottom: 40px;
    /*padding-left: 70px;*/
    color: azure;
    color: #28403F;
    /*color: #28403F;*/
    line-height: 1.2em;
}



    
    

/*PARTNERS*/

#partners {
    padding: 0px;
    margin: 0;
    margin-top: 0px;
    /*background-color: azure;*/
    /*background-color: darkcyan;*/
}

#partners .page {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 0px;
}

#partners h2 {
    font-size: 40px;
    line-height: 1.2em;
    padding-top: 10px;
    margin-top: 0;
    font-family: 'Candal', sans-serif;
    color: azure;
    background-color: darkcyan;
}

#partners .page li {
    margin: 20px;
    align-content: center;
}







/*CONTACT*/

#contact {
    /*padding: 0px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #89C9C6;
    background-color: darkcyan;
    margin: 0px;
    margin-top: 0px;
}

#contact h2 {
    font-size: 40px;
    color: azure;
    margin-top: 0px;
    font-family: 'Candal', sans-serif;
}

.form {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    font-family: 'Roboto', sans-serif;
    font-family: 'Vidaloka', serif;
    list-style: none;
    font-size: 30px;
    /*flex-wrap: nowrap;*/
    align-content: center;
    color: #28403F;
}

.form li {
    padding: 10px;
    align-content: center;
    margin: 10px auto;
    float: center;
    text-align: center;
    color: #89C9C6;
    font-family: 'Rubik', sans-serif;
}

input {
    width: 300px;
    height: 30px;
    padding: 10px;
}

.last {
    height: 100px;
    margin-bottom: 70px;
}




/*FOOTER*/

footer {
    background-color: #89C9C6;
    min-height: 15px;
    padding: 5px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
}

footer p {
    font-family: 'Candal', sans-serif;
    color: azure;
    font-size: 18px;
}
    
}
